<nav class=" a-navbar navbar navbar-expand-lg navbar-light bg-light">
    <div class=" a-navbar__container container-fluid">
      <a class="navbar-brand" href="#">Adrià Berjaga</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="#0fe" xmlns="http://www.w3.org/2000/svg">
          <rect width="20" height="3"></rect>
          <rect y="7" width="20" height="3"></rect>
          <rect y="15" width="20" height="3"></rect>
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/home" class="nav-link " aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/about" class="nav-link" href="#">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/proyects" class="nav-link" href="#">Proyectos</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/contacto" class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  