<div class="a-container">
    <div class="a-container__title">
        <h1>Desarrollador <span>web</span></h1>
        <h2>Especialista en Frontend</h2>
    </div>
    <div class="a-container__socialMedia">
        <a id="socialMedia-git" class="a-container__socialMedia-links fab fa-github" target="_blank" title="" href=""></a>
        <a id="socialMedia-was" class="a-container__socialMedia-links fab fa-whatsapp" target="_blank" title="" href=""></a>
        <a id="socialMedia-email" class="a-container__socialMedia-links fas fa-envelope" target="_blank" title="" href=""></a>
        <a id="socialMedia-link" class="a-container__socialMedia-links fab fa-linkedin" target="_blank" title="" href=""></a>
    </div>
    
</div>
