<div class="a-container">
    <div class="container-fluid a-container__text">
        <div class="a-container__title">
            <h1>Desarrollador <span>web</span></h1>
            <div class="container-fluid a-container__image div-image__none">
                <img  src="https://picsum.photos/300/200" alt="Imagen aleatoria">
            </div>
            <h2>Especialista en <span>Frontend</span></h2>
        </div>
        <div class="a-container__socialMedia">
            <a title="github" id="socialMedia-git" class="a-container__socialMedia-links fab fa-github" target="_blank" title="" href=""></a>
            <a title="whatsapp" id="socialMedia-was" class="a-container__socialMedia-links fab fa-whatsapp" target="_blank" title="" href=""></a>
            <a title="Email" id="socialMedia-email" class="a-container__socialMedia-links fas fa-envelope" target="_blank" title="" href=""></a>
            <a title="linkedin" id="socialMedia-link" class="a-container__socialMedia-links fab fa-linkedin" target="_blank" title="" href=""></a>
        </div>
    </div>
    <div class="container-fluid a-container__image div-image__block">
        <img  src="https://picsum.photos/300/200" alt="Imagen aleatoria">
    </div>
</div>
